<!DOCTYPE html>
<html>
<head>
<title>Signup</title>
<link rel="stylesheet" href="/static/dashboard.css">
</head>
<body class="center">

<div class="card">
    <h2>Doctor Signup</h2>

    <form method="POST">
        <input name="name" placeholder="Full Name" required>
        <input name="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Password" required>
        <input name="specialization" placeholder="Specialization" required>
        <button type="submit">Register</button>
    </form>

    <p>Already have account? <a href="/login">Login</a></p>
</div>

</body>
</html>